body {
    margin: 0;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 575px;
    height: 385px;
    background-color: #1B244A;
    
    margin: 20px;
    border: 5px solid #ffffff;
    border-radius: 10px;
   
    
} 

.first{
    text-align: center;
    
    
}

.titel{
    font-family: Verdana;
    font-weight: 700;
    font-size: 40px;
    line-height: 35.89px;
    letter-spacing: 0%;
    text-align: center;
    color: #EEEEEE;

}

.box{
    width: 155px;
    height: 120px;
    background-color: #080001;
    
    border-radius: 5px;
    
    margin-bottom: 17px;

}

.dis{
    /* font-family: Cursed Timer ULiL; */
     font-family: 'Cursed Timer ULiL', sans-serif;
                                                
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
    color:  #F94F6D;
    width: 117px;
    height: 120px;
;
}




.score{
    display: flex;
    justify-content: space-between;
    width: 155px;
    height: 45px;
}

.btn{
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8 ;
    border-radius: 5px;
    border-width: 2px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;

}